# ==============================================================================
# VERSION CONTROL & METADATA
# ==============================================================================
.git
.gitignore

# ==============================================================================
# DOCKER SPECIFIC EXCLUSIONS
# ==============================================================================
.dockerignore

# ==============================================================================
# RUNTIME ENVIRONMENT CONFIGURATIONS
# ==============================================================================
.env

# ==============================================================================
# RUNTIME ENVIRONMENT CACHES & PYTEST TEMPS
# ==============================================================================
.cache/
.ruff_cache/
.pytest_cache/
__pycache__/
*.pyc
